<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<input hidden ng-model="servidor.contato.id"/>

<div class="row cell-auto-size">
    <div class="cell padding10">
        <label>Celular</label>
        <div class="input-control text full-size">
            <input type="text" ng-model="servidor.contato.celular"/>
        </div>
    </div>
    <div class="cell padding10">
        <label>Residencial</label>
        <div class="input-control select full-size">
            <input type="text" ng-model="servidor.contato.fixo"/>
        </div>
    </div>
    <div class="cell padding10">
        <label>Recado</label>
        <div class="input-control select full-size">
            <input type="text"/>
        </div>
    </div>
    <div class="cell padding10">
        <label>Email</label>
        <div class="input-control select full-size">
            <input type="text" ng-model="servidor.contato.email"/>
        </div>
    </div>
</div>