
<input hidden ng-model="servidor.cc.id"/>
<div class="row cell-auto-size">
    <div class="cell padding10">
        <label>Banco</label>
        <div class="input-control text full-size">
            <input type="text" ng-model="servidor.cc.banco"/>
        </div>
    </div>
    <div class="cell padding10">
        <label>Agencia</label>
        <div class="input-control text full-size">
            <input type="text" ng-model="servidor.cc.agencia"/>
        </div>
    </div>
    <div class="cell padding10">
        <label>Conta</label>
        <div class="input-control text full-size">
            <input type="text" ng-model="servidor.cc.numero"/>
        </div>
    </div>
    <div class="cell padding10">
        <label>Tipo de Conta</label>
        <div class="input-control select full-size">
            <select>
                <option>Conta Corrente</option>
            </select>                 
        </div>
    </div>
</div>
