<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h4>Dados Funcionais</h4>
<div class="button-group">
    <button class="button small-button" ng-click="abrirModal('#modal_funcao')"><span class='mif-plus'> Adicionar</span></button>
    <button class="button small-button"><span class='mif-pencil'> Editar</span></button>
    <button class="button small-button"><span class='mif-bin'> Excluir</span></button>
</div>
<table class="table striped hovered full-size">
    <thead>
        <tr>
            <td>Função</td>
            <td>Situação</td>
            <td>Vínculo</td>
            <td>Carga Horária</td>
            <td>Início</td>
            <td>Fim</td>
        </tr>
    </thead>
    <tbody>
        <tr style="text-transform: capitalize">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>