<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="button-group">
    <button class="button small-button" ng-click="abrirModal('#modal_funcao')"><span class='mif-plus'> Adicionar</span></button>
</div>
<table class="table striped hovered full-size">
    <thead>
        <tr>
            <td>Função</td>
            <td>Situação</td>
            <td>Vínculo</td>
            <td>Carga Horária</td>
            <td>Início</td>
            <td>Fim</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr style="text-transform: capitalize" ng-repeat="f in servidor.funcoes">
            <td>{{f.nome}}</td>
            <td>{{f.situacao}}</td>
            <td>{{f.vinculo}}</td>
            <td>{{f.cargaHoraria}}</td>
            <td>{{f.inicio}}</td>
            <td>{{f.fim}}</td>
            <td>
                <button class="button small-button cycle-button" ng-click="editarFuncao($index)"><span class='mif-pencil'></span></button>
                <button class="button small-button cycle-button" ng-click="removerFuncao($index)"><span class='mif-bin'></span></button>
            </td>
        </tr>
    </tbody>
</table>