<div class="button-group">
    <button class="button small-button" ng-click="abrirModal('#modal_dependente')"><span class='mif-plus'> Adicionar</span></button>
</div>
<div class="row cell-auto-size">
    <div class="cell padding10">
        <table class="table striped hovered full-size">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Identidade</td>
                    <td>Parentesco</td>
                    <td>Estado Civil</td>
                    <td>Situação Financeira</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in servidor.dependentes" style="text-transform: capitalize">
                    <td>{{d.nome}}</td>
                    <td>{{d.rg}}</td>
                    <td>{{d.dependencia}}</td>
                    <td>{{d.estadoCivil}}</td>
                    <td>{{d.situacaoFinanceira}}</td>
                    <td>
                        <button class="button small-button cycle-button" ng-click="editarDependente($index)"><span class='mif-pencil'></span></button>
                        <button class="button small-button cycle-button" ng-click="removerDependente($index)"><span class='mif-bin'></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


