<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-show="item == 4" style="height: auto!important">
    <h4>Dependentes</h4>
    <div class="button-group">
        <button class="button small-button" ng-click="abrirModal('#modal_dependente')"><span class='mif-plus'> Adicionar</span></button>
        <button class="button small-button"><span class='mif-pencil'> Editar</span></button>
        <button class="button small-button"><span class='mif-bin'> Excluir</span></button>
    </div>
    <div class="row cell-auto-size">
        <div class="cell padding10">
            <table class="table striped hovered full-size">
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Identidade</td>
                        <td>Parentesco</td>
                        <td>Estado Civil</td>
                        <td>Situação Financeira</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in servidor.dependentes">
                        <td>{{d.nome}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


