<!-- 
Exibir Arquivos do Arquivo 
-->
<div data-role="charm" id="charm_arquivos" style="width: 500px;" class="bg-white fg-dark">
    <h4 class="text-bold padding5 no-padding-left">O aluno está nos seguintes arquivos:</h4>
    <div  style="height: 90%;overflow-y: scroll;">
        <table class="table hovered text-light striped" style="font-size: 16px!important">
            <thead>
                <tr>
                    <td>Arquivos</td>
                </tr>
            </thead>
            <tbody ng-init="i = -1">
                <tr  ng-repeat="a in alunos" class="capitaliar no-padding">
                    <td style="padding: 5px!important">{{a.nome}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>