<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div data-role="charm" id="charm_servidor" style="width: 70%;overflow-y: scroll" class="bg-dark fg-white ">
    <h3 class="text-bold padding5 no-padding-left" style="border-bottom: 1px solid gray">Cadastro de Servidor</h3>
    <div class="flex-grid padding10">
        <div class="row cell-auto-size">
            <!-- Conteúdo -->
            <div class="cell padding10 no-padding-top no-padding-right text-light">

                <form name="form_servidor">
                    <!-- Dados Pessoais -->
                    <div class="panel collapsible" data-role="panel" style="border: 1px solid #1ba1e2">
                        <div class="heading">
                            <span class="title">Dados Pessoais</span>
                        </div>
                        <div class="content padding10" style="display: block;">
                            <div ng-include="'views/servidores/componentes/dadospessoais.html'"></div>
                        </div>
                    </div>

                    <div class="padding5"></div>

                    <!-- Endereço -->
                    <div class="panel collapsible" data-role="panel" style="border: 1px solid #1ba1e2">
                        <div class="heading">
                            <span class="title">Endereço</span>
                        </div>
                        <div class="content padding10" style="display: block;">
                            <div ng-include="'views/servidores/componentes/endereco.html'"></div>
                        </div>
                    </div>

                    <div class="padding5"></div>

                    <!-- Contato -->
                    <div class="panel collapsible" data-role="panel" style="border: 1px solid #1ba1e2">
                        <div class="heading">
                            <span class="title">Contato</span>
                        </div>
                        <div class="content padding10" style="display: block;">
                            <div ng-include="'views/servidores/componentes/contato.html'"></div>
                        </div>
                    </div>

                    <div class="padding5"></div>

                    <!-- Filiaçao -->
                    <div class="panel collapsible" data-role="panel" style="border: 1px solid #1ba1e2">
                        <div class="heading">
                            <span class="title">Filiação</span>
                        </div>
                        <div class="content padding10" style="display: block;">
                            <div ng-include="'views/servidores/componentes/filiacao.html'"></div>
                        </div>
                    </div>

                    <div class="padding5"></div>

                    <!-- Documentos -->
                    <div class="panel collapsible" data-role="panel" style="border: 1px solid #1ba1e2">
                        <div class="heading">
                            <span class="title">Documentos</span>
                        </div>
                        <div class="content padding10" style="display: block;">
                            <!-- Identidade -->
                            <div ng-include="'views/servidores/componentes/identidade.html'"></div>
                            <!-- Titulo Eleitoral -->
                            <div ng-include="'views/servidores/componentes/titulo.html'"></div>
                            <!-- CNH -->
                            <div ng-include="'views/servidores/componentes/cnh.html'"></div>
                            <!-- Pis/Pasep -->
                            <div ng-include="'views/servidores/componentes/pis.html'"></div>
                            <!-- Carteira de Trabalho -->
                            <div ng-include="'views/servidores/componentes/ctps.html'"></div>
                            <!-- Documento Militar -->
                            <div ng-include="'views/servidores/componentes/reservista.html'"></div>
                        </div>
                    </div>

                    <div class="padding5"></div>

                    <!-- Escolaridade -->
                    <div class="panel collapsible" data-role="panel" style="border: 1px solid #1ba1e2">
                        <div class="heading">
                            <span class="title">Escolaridade</span>
                        </div>
                        <div class="content padding10" style="display: block;">
                            <div ng-include="'views/servidores/componentes/escolaridade.html'"></div>
                        </div>
                    </div>

                    <div class="padding5"></div>

                    <!-- Dependentes -->
                    <div class="panel collapsible" data-role="panel" style="border: 1px solid #1ba1e2">
                        <div class="heading">
                            <span class="title">Dependentes</span>
                        </div>
                        <div class="content padding10" style="display: block;">
                            <div ng-include="'views/servidores/componentes/dependentes.html'"></div>
                        </div>
                    </div>

                    <div class="padding5"></div>

                    <!-- Dados Bancários -->
                    <div class="panel collapsible" data-role="panel" style="border: 1px solid #1ba1e2">
                        <div class="heading">
                            <span class="title">Dados Bancários</span>
                        </div>
                        <div class="content padding10" style="display: block;">
                            <div ng-include="'views/servidores/componentes/dadosbancarios.html'"></div>
                        </div>
                    </div>

                    <div class="padding5"></div>

                    <!-- Dados Funcionais -->
                    <div class="panel collapsible" data-role="panel" style="border: 1px solid #1ba1e2">
                        <div class="heading">
                            <span class="title">Dados Funcionais</span>
                        </div>
                        <div class="content padding10" style="display: block;">
                            <div ng-include="'views/servidores/componentes/dadosfuncionais.html'"></div>
                        </div>
                    </div>

                    <div class="button-group padding5 no-padding-left">
                        <button ng-disabled="form_servidor.$invalid" class="button large-button" ng-click='salvarServidor()'><span class="mif-floppy-disk"></span> Salvar</button>
                        <a class="button large-button" href="#/"><span class="mif-cancel"></span> Cancelar</a>
                        <button class="button large-button"><span class="mif-bin"></span> Remover</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- Modal para inclusão/edição de dependente -->
    <div ng-include="'views/servidores/modal_dependente.html'"></div>
    <!-- Modal para inclusão/edição de cursos de graduação -->
    <div ng-include="'views/servidores/modal_graduacao.html'"></div>
    <!-- Modal para inclusão/edição de Função -->
    <div ng-include="'views/servidores/modal_funcao.html'"></div>
</div>
