<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="button-group padding5 no-padding-left" style="height: 10%!important">
    <button ng-disabled="form_servidor.$invalid" class="button" ng-click='salvarServidor()'><span class="mif-floppy-disk"></span> Salvar</button>
    <a class="button" ui-sref="home"><span class="mif-cancel"></span> Cancelar</a>
    <button class="button"><span class="mif-bin"></span> Remover</button>
</div>

<div class="tabcontrol2" data-role="tabcontrol" style="height: 90%!important">
    <ul class="tabs">
        <li class="active"><a href="#frame_1">Informações Básicas</a></li>
        <li class=""><a href="#frame_2">Documentos</a></li>
        <li class=""><a href="#frame_3">Escolaridade</a></li>
        <li class=""><a href="#frame_4">Dependentes</a></li>
        <li class=""><a href="#frame_5">Dados Bancários</a></li>
        <li class=""><a href="#frame_6">Dados Funcionais</a></li>
    </ul>
    <div class="frames" style="height: 100%!important;overflow-y: scroll">
        <!-- Informações Básicas -->
        <div class="frame" id="frame_1" style="display: block;">
            <form name="form_servidor" novalidate>
                <!--Dados Pessoais-->
                <div ng-include="'views/servidores/componentes/dadospessoais.html'"></div>
                <!-- Endereço -->
                <div ng-include="'views/servidores/componentes/endereco.html'"></div>
                <!-- Contato -->
                <div ng-include="'views/servidores/componentes/contato.html'"></div>
                <!-- Filiaçao -->
                <div ng-include="'views/servidores/componentes/filiacao.html'"></div>
            </form>
        </div>
        <!-- Documentos -->
        <div class="frame" id="frame_2" style="display: none;">
            <!-- Identidade -->
            <div ng-include="'views/servidores/componentes/identidade.html'"></div>
            <!-- Titulo Eleitoral -->
            <div ng-include="'views/servidores/componentes/titulo.html'"></div>
            <!-- CNH -->
            <div ng-include="'views/servidores/componentes/cnh.html'"></div>
            <!-- Pis/Pasep -->
            <div ng-include="'views/servidores/componentes/pis.html'"></div>
            <!-- Carteira de Trabalho -->
            <div ng-include="'views/servidores/componentes/ctps.html'"></div>
            <!-- Documento Militar -->
            <div ng-include="'views/servidores/componentes/reservista.html'"></div>
        </div>
        <!-- Escolaridade -->
        <div class="frame" id="frame_3" style="display: none;">
            <div style="height: auto!important" ng-include="'views/servidores/componentes/escolaridade.html'"></div>
        </div>
        <!-- Dependentes -->
        <div class="frame" id="frame_4" style="display: none;">
            <div style="height: auto!important" ng-include="'views/servidores/componentes/dependentes.html'"></div>
        </div>
        <!-- Dados Bancários -->
        <div class="frame" id="frame_5" style="display: none;">
            <div style="height: auto!important" ng-include="'views/servidores/componentes/dadosbancarios.html'"></div>
        </div>
        <!-- Dados Funcionais -->
        <div class="frame" id="frame_6" style="display: none;">
            <div  style="height: auto!important" ng-include="'views/servidores/componentes/dadosfuncionais.html'"></div>
        </div>
    </div>
</div>


<!-- Modal para inclusão/edição de dependente -->
<div ng-include="'views/servidores/modal_dependente.html'"></div>
<!-- Modal para inclusão/edição de cursos de graduação -->
<div ng-include="'views/servidores/modal_graduacao.html'"></div>
<!-- Modal para inclusão/edição de Função -->
<div ng-include="'views/servidores/modal_funcao.html'"></div>