<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="window" data-role="dialog" id="modal_funcao" data-place="bottom-right" data-width="700px" data-overlay="true" data-overlay-color="op-dark" data-overlay-click-close="true">
    <div class="window-caption bg-darkGreen fg-white">
        <span class="window-caption-icon"><span class="mif-user-plus"></span></span>
        <span class="window-caption-title">Adicionar Dependente</span>
        <!--<span class="btn-min"></span><span class="btn-max"></span>-->
        <span class="btn-close" ng-click="fecharModal('#modal_funcao')"></span>
    </div>
    <div class="window-content bg-grayLighter">
    
        <div class="button-group padding10">
            <button ng-disabled="form_dependente.$invalid" class="button" ng-click="adicionarDependente()"><span class="mif-floppy-disk icon"></span> Salvar</button>
            <button class="button" ng-click="fecharModal('#modal_dependente')"><span class="mif-cancel icon"></span> Cancelar</button>
        </div>
        <div class="padding10"></div>
    </div>
</div>
